*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: white;
}
.container-cabecalho{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin: 0.5em;
}
.imagem-logo{
    width: 150px;
    margin: .75em;
}
.nav-links-cabecalho li{
    display: inline-block;
    padding: 0 .75em;
}
.nav-links-cabecalho a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #3A3A3A;
    font-weight: bold;
}
.nav-links-cabecalho a::after{
    position: absolute;
    content: "";
    background-color: #3B856A;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 20ms;
}
.nav-links-cabecalho a:hover::after{
    width: 100%;
}
.icones-cabecalho{
    padding: .75em;
    color: #3A3A3A;
    cursor: pointer;
}
.icones-cabecalho .fa-user{
    margin-right: 0.75em;
}
.container-collection{
    position: relative;
}
.background-image{
    height: 600px;
    background-image: url(imagem-collection.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.rect-collection{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 80px;
    left: 40px;
    padding: 0.75px;
    width: 550px;
    height: 440px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.28);
}
.rect-collection h1{
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
}
.rect-collection p{
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    padding: 1em;
}
.botao-padrao{
    width: 182px;
    height: 65px;
    font-size: 1.5em;
    padding: .75em;
    color: #FFFFFF;
    background-color: #3B856A;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    transition: 200ms;
}
.botao-padrao:hover{
    background-color: #386857;
}
.container-lista-imagens{
    display: flex;  
    justify-content: space-around;
}
.container-pele, .container-make,.container-skincare{
    width: 300px;
    height: 300px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
}
.container-lista-imagens span{
    font-size: 2em;
    color: #ffffff;
    margin: 30px;
    font-weight: bold;
}
.container-lista-imagens a{
    text-decoration: none;
    padding: 0.75em;
    font-size: 1em;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #ffffff;
    border-radius: 10px;
    transition: 200ms;
}
.container-lista-imagens a:hover{
    background-color: #FFFFFF;
    color: #386857;
}
.container-pele{
    background-image: linear-gradient(rgba(58, 58, 58,0.42), rgba(58, 58, 58,0.42)), url(pele.png);
    background-size: cover;

        backdrop-filter: blur(100px);
    backdrop-filter: opacity(20%);

}
.container-make{
    background-image: linear-gradient(rgba(58, 58, 58,0.42), rgba(58, 58, 58,0.42)), url(make.png);
    background-size: cover;

    backdrop-filter: blur(100px);

    backdrop-filter: opacity(20%);
}
.container-skincare{
    background-image: linear-gradient(rgba(58, 58, 58,0.42), rgba(58, 58, 58,0.42)), url(skincare.png);
    background-size: cover;
    backdrop-filter: blur(100px);
    backdrop-filter: opacity(10%);
}
.container-pele, .container-make,.container-skincare{
    background: linear-gradient(rgba(58,58,58,0.42))
}
.titulo-best-seller{
    margin: 0 auto;
    text-align: center;
}
.titulo-best-seller h2{
    margin: .5em;
    font-size: 2em;
}
.container-lista-best-seller{
    width: 100%;
    margin: 2em auto;
}

.lista-best-seller {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    list-style: none;
    margin: 3%;
}
.item-best-seller{
    width: 20%;
    margin: 2%; 
    text-align: center;
}
.item-best-seller img{
    max-width: 50%;
}
.descricao-produtos{
    color:rgba(58, 58, 58);
    font-weight: bold;
    text-align: start;
    margin-top: .75em;
}
.preco-produtos{
    font-weight: bold;
    color: #386857;
    margin-top: .75em;
    text-align: start;
}